
input{
width:100%;
border-radius : 4px;
}
input[type=text]{
width: 100%;
padding : 5px 20px;
margin: 8px 0;
box-sizing : border-box;
border : 2px solid #ff9933;
outline :none;
}
.content{
width : 500px;
margin-left : 200px;
color : white ;
font-family : Times;
items-align :center;
}
.logo img{
width : 50px ;
height : 50px;
}
.add_Topic{
text-align:center;
color:#ff9933;
}
.next_button {
text-align : right ;
margin-right : 50px;
margin-top : 50px;
padding-bottom : 30px;

}
.next_button input[type=submit] {
background-color : #333333;

border : none ;
color : white ;
text-align : center;
font-size: 15px;
display : inline-block;
border-radius :5px;
border : 4px solid #ff9933 ;
transition-duration : 0.4s;

}
.next_button input[type=submit]:hover{
background-color : #ff9933 ;
color : #333333;
}